<div class="row m-3 useMybg">
  <div
    class="col-sm-6 mb-3 mb-sm-0"
    *ngFor="let book of AllBook; let i = index"
  >
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">
          เล่มที่ {{ i + 1 }} <br />ชื่อหนังสือ {{ book.title }} <br />
          ราคา {{book.price}} บาท
        </h5>
        <p class="card-text"></p>
        <a
          class="nav-link"
          aria-current="page"
          [routerLink]="['updatebook', book.id, book.title, book.price]"
          >แก้ไขหนังสือเล่มนี้</a
        >
      </div>
    </div>
  </div>
</div>
