<div class="container d-flex justify-content-center align-items-center">
  <form (submit)="onSubmit()" class="m-3 card w-50">
    <div class="card-header">ค้นหาหนังสือจาก ID</div>
    <div class="card-body">
      <div>
        <input
          class="text-center form-control"
          type="number"
          [(ngModel)]="book.id"
          name="bookId"
        />
      </div>
      <button type="submit" class="btn btn-sm btn-warning mt-3">ค้นหา</button>
    </div>
  </form>
  <br />
  <br />
</div>
<div class="container d-flex justify-content-center align-items-center">
  <table *ngIf="nameIsNull()" class="table table-warning table-striped-columns">
    <thead>
      <tr>
        <th>Book Title</th>
        <th>Book price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
