<newcomponent>
</newcomponent>
<p *ngIf="false; else elseBlock">don't show this</p>
<ng-template #elseBlock><p>show This</p></ng-template>
<ng-container *ngFor="let num of arraySample">
<p>{{num}}</p>

</ng-container>
<p>testInput = {{testInput}}</p>
<p>----</p>
<input (keyup)="onKey($event)">

<p>testInput = {{testInput}}</p>
<p>-----</p>
<input [(ngModel)]="testInput"/>

<booklist-component></booklist-component>
<button routerLink="" class="add-margin" Button>Home</button>
<button routerLink="createbook" class="add-margin" Button>Add Book</button>
<button routerLink="updatebook" class="add-margin" Button>Update Book</button>
<button routerLink="searchbook" class="add-margin" Button>Search Book</button>


<router-outlet/>

<uploadImage-component></uploadImage-component>

